<!-- Extend our site layout -->
{% extends "layout.html" %}

<!-- Include our common macro set -->
{% import "macros.jnj" as common %}

<!-- Parse a pig tuple being passed through in string format -->

{% block content -%}
  <p class="lead">{{ business['name'] }}</p>
  <div>
    <table class="table table-striped table-condensed">
      <thead>
        <th>Business ID</th>
        <th>Full Address</th>
        <th>Open Status</th>
        <th>Categories</th>
        <th>Stars</th>
      </thead>
      <tbody>
          <td>{{ business['business_id'] }}</td>
          <td>{{ business['full_address'] }}</td>
          <td>{{ business['open'] }}</td>
          <td>{% for category in business['categories'] -%}<div>{{ category }}</div>{% endfor -%}</td>
          <td>{{ business['stars'] }}</td>
      </tbody>
    </table>
  </div>
  <p class="lead">Checkin Hours</p>
  <div class="row">
    <div class="span4">
      <div id="chart">
          <svg style='height:400px; width: 800px;'> </svg>
      </div>
      <script>
      nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
          .x(function(d) { return d.label })
          .y(function(d) { return d.value })
          .staggerLabels(false)
          .tooltips(false)
          .showValues(false)
        .color(function(x) {'blue'})

      d3.select('#chart svg')
        .datum({{ hours_json | safe }})
        .transition().duration(500)
        .call(chart);

      nv.utils.windowResize(chart.update);

          return chart;
});
        </script>
    </div>
  </div>

{% endblock -%}
