<!-- Extend our site layout -->
{% extends "layout.html" %}

<!-- Include our common macro set -->
{% import "macros.jnj" as common %}

<!-- Parse a pig tuple being passed through in string format -->

{% block content -%}
  <p class="lead">{{ business['name'] }}</p>
  <div>
    <table class="table table-striped table-condensed">
      <thead>
        <th>Business ID</th>
        <th>Full Address</th>
        <th>Open Status</th>
        <th>Categories</th>
        <th>Stars</th>
      </thead>
      <tbody>
          <td>{{ business['business_id'] }}</td>
          <td>{{ business['full_address'] }}</td>
          <td>{{ business['open'] }}</td>
          <td>{% for category in business['categories'] -%}<div>{{ category }}</div>{% endfor -%}</td>
          <td>{{ business['stars'] }}</td>
      </tbody>
    </table>
  </div>
  <div>
    <table class="table table-striped table-condensed">
      {% for hour in hours -%}
        <tr><td>{{ hour }}</td><td>{{ hours[hour] }}</td></tr>
      {% endfor -%}
    </table>
  </div>
{% endblock -%}
