<!-- Extend our site layout -->
{% extends "layout.html" %}

<!-- Include our common macro set -->
{% import "macros.jnj" as common %}

<!-- Parse a pig tuple being passed through in string format -->

{% block content -%}
  <div class="row">
    <div class="col-md-12">
      <p class="lead">{{ business['name'] }}</p>
      <table class="table table-striped table-condensed">
        <thead>
          <th>Business ID</th>
          <th>Full Address</th>
          <th>Open Status</th>
          <th>Categories</th>
          <th>Stars</th>
        </thead>
        <tbody>
            <td>{{ business['business_id'] }}</td>
            <td>{{ business['full_address'] }}</td>
            <td>{{ business['open'] }}</td>
            <td>{% for category in business['categories'] -%}<div>{{ category }}</div>{% endfor -%}</td>
            <td>{{ business['stars'] }}</td>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div id="map"class="col-md-4">
    <p class="lead">Map</p>
    <div id="map"></div>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
    <style>
      #map { height: 280px; }
    </style>
    <script>/***  little hack starts here ***/
            L.Map = L.Map.extend({
                openPopup: function(popup) {
                    //        this.closePopup();  // just comment this
                    this._popup = popup;

                    return this.addLayer(popup).fire('popupopen', {
                        popup: this._popup
                    });
                }
            }); /***  end of hack ***/
    
            var map = L.map('map').setView([{{ business['latitude'] }}, {{ business['longitude'] }}], {{ zoom_level }});
            L.tileLayer('http://{s}.tile.cloudmade.com/03ab408055d8425eb5161bf48fbb7435/997/256/{z}/{x}/{y}.png', {
                attribution: '',
                maxZoom: 18
            }).addTo(map);
            
            var marker = L.marker([{{ business['latitude'] }}, {{ business['longitude'] }}]).addTo(map);
            marker.bindPopup("<a href='/business/{{ business['business_id'] }}'><b>{{ business['name'] }}</b></a>").openPopup();
            {% for b in nearby -%}
              var marker = L.marker([{{ b['latitude'] }}, {{ b['longitude'] }}]).addTo(map);
              marker.bindPopup("<a href='/business/{{ b['business_2'] }}'>{{ b['name'] }}</a>");
            {% endfor -%}
    </script>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p class="lead">Checkin Hours</p>
      <div id="chart">
          <svg style='height:320px; width: 320px;'> </svg>
      </div>
      <style>
      .line {
        fill: none;
        stroke: #000;
        stroke-width: 1.5px;
      }
      </style>
      <script>
  
      nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
          .x(function(d) { return d.label })
          .y(function(d) { return d.value })
          .staggerLabels(true)
          .tooltips(false)
          .showValues(false)
        .color(function(x) {'blue'})
        
      var data = {{ hours_json | safe }};

      var svg = d3.select('#chart svg');
      svg.datum(data)
         .transition().duration(500)
         .call(chart);
        
      nv.utils.windowResize(chart.update);
      return chart;
});
        </script>
    </div>
    <div class="col-md-4" id="chart">
      <script src="/static/d3.layout.cloud.js"></script>
      <script>
        var fill = d3.scale.category20();
        function draw(words) {
          d3.select("#chart").append("svg")
              .attr("width", 1200)
              .attr("height", 1000)
            .append("g")
              .attr("transform", "translate(150,150)")
            .selectAll("text")
              .data(words)
            .enter().append("text")
              .style("font-size", function(d) { return d.size + "px"; })
              .style("font-family", "Impact")
              .style("fill", function(d, i) { return fill(i); })
              .attr("text-anchor", "middle")
              .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
              })
              .text(function(d) { return d.text; });
        }

        d3.layout.cloud().size([1200, 600])
            .words({{ words_per_business | safe }}.map(function(d) {
              return {text: d['adjective'], size: 10 + d['score'] * 10000};
            }))
            .padding(2)
            .rotate(function() { return ~~(Math.random() * 2) * 90; })
            .font("Helvetica")
            .fontSize(function(d) { return d.size; })
            .on("end", draw)
            .start();
      </script>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
      <p class="lead">Reviews</p>
      <table class="table table-striped table-condensed">
        <thead>
          <th>Name</th>
          <th>Stars</th>
          <th>Review</th>
        </thead>
        <tbody>
          {% for r in revs %}
          <tr style="white-space:nowrap;">
            <td><a href="/review/{{ r['review_id'] }}">{{ r['review_id'] }}</a></td>
            <td>{{ r['stars'] }}</td>
            <td style="white-space:nowrap;">{{ common.limit_length(r['text'], 140) }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table> 
    </div>
  </div>


{% endblock -%}
